/*変化するプロパティの設定に応じた動きを時間をかけて滑らかに変化できる*/
.transition {
  transition: all 1s;
}

.square {
  width: 100px;
  height: 100px;
  background-color: black;
}

.rounded {
  border-radius: 50px;
}

/*発展★★*/
.triangle {
  width: 0px;
  height: 0px;

  border-top: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 50px solid black;
  border-left: 50px solid transparent;
}
/*borderプロパティで三角形を作成してみた*/
